node_modules/
**/node_modules/

# package managers
.pnpm-store/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build outputs
dist/
build/
.out/
**/dist/
**/build/

# environment variables
.env
.env.*

# TypeScript
*.tsbuildinfo

# logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.iml

# misc
.tmp/
.cache/

