@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1990&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #e30613;
    --color-secondary: #ffcc00;
    --color-accent: #009fe3;

    --color-dark: #131313;
    --color-dark-secondary: #1c1c1c;
    --color-dark-gray: #303030;
    --color-white: #f9f9f9;

    --font-primary: system-ui, sans-serif;
}

@layer utilities {
    .font-secondary {
        font-family: 'Climate Crisis', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: 'YEAR' 1990;
    }
}

@layer base {
    html,
    body {
        @apply bg-dark;
    }
    a,
    button,
    [role='button'] {
        @apply cursor-pointer;
    }
}
